.container {
    display: flex;
}

.message {
    max-width: min(80%, 400px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 16px;
    gap: 8px;
    border-radius: var(--message-border-radius);
}
.message-my {
    background-color: var(--message-color-my);
}
.message-other {
    background-color: var(--message-color-other);
}

.messageText {
    flex: 1;
    padding: 12px 0;
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--line-height);

    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.messageTime {
    padding: 4px 0;
    color: var(--text-color-placeholder);
}