.screen {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.panel {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.separator {
    width: 1px;
}

.surfaceFiller {
    flex: 1;
    background-color: var(--surface-color);
}

.hidden {
    display: none;
}