.container {
    height: var(--top-panel-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px;
    gap: calc(0.4 * var(--font-size));
    background-color: var(--surface-color);
}

.name {
    color: var(--text-color);
}

.status {
    color: var(--text-color-placeholder);
}