.container {
    height: var(--top-panel-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;
    background-color: var(--surface-color);
}

.buttonBack {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonBackIcon {
    width: 24px;
    height: 24px;
    background: transparent;
    fill: var(--text-color);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(0.4 * var(--font-size));
}

.name {
    color: var(--text-color);
}

.status {
    color: var(--text-color-placeholder);
}