*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  border: none;
  outline: none;
  background: none;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
}

div, button, input {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s ease-out;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input::-webkit-password-toggle-button,
input::-webkit-textfield-decoration-container {
  display: none;
}